<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>KingAvis\KingAvis</fullnamespace>
    <descriptive locale="en_US">
        <title>KingAvis Synchro</title>
        <description>Send orders to KingAvis for asking a review</description>
        <!--
        <subtitle></subtitle>

        <postscriptum></postscriptum>
        -->
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Synchronisation avec KingAvis</title>
        <description>Envoi des commandes sur la plateforme KingAvis pour une demande d'avis client</description>
    </descriptive>
    <!-- <logo></logo> -->
    <!--<images-folder>images</images-folder>-->
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0.0</version>
    <authors>
        <author>
            <name>Kevin</name>
            <email></email>
        </author>
    </authors>
    <type>classic</type>
    <!--
    module dependencies
    <required>
        <module version="&gt;=0.1">Front</module>
        <module version="~1.0">HookCart</module>
        <module version="&gt;0.2">HookSearch</module>
    </required>
    -->
    <thelia>2.2.0</thelia>
    <stability>prod</stability>
</module>
